.box{
    height: 200px;
    width: 200px;
    margin: 20px;
    border: 2px solid black;
}

.box1{
    background-color: red;
}

.box2{
    background-color: green;
    position: absolute;
    right: 0;
    bottom: 0;
}

.box3{
    background-color: blue;
    position: relative;
    top: 50px;
    left: 50px;
}

.box4{
    background-color: aquamarine;
}